ul {
  lists-style-type: square;
  color: rgb(200, 131, 2);
}

ol {
  lists-style-type: upper-roman;
}

dt {
  font-weight: bold;
  color: red;
}

dd {
  font-style: italic;
  color: red;
}

ul ul {
  list-style-type: circle;
  color: blue;
}

ul ol {
  color: blue;
}

h3 {
  color: rgb(200, 131, 2);
}

body {
  background-color: rgb(203, 188, 188);
}
